{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  <h1>Reset your password</h1>
  {% if validlink %}
    <p>please enter your new password twice:</p>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input input="submit" value="Change my password" /></p>
    </form>
  {% else %}
    <p>the password reset link was invalid, possibly because it has already been used. please request a nwe password reset.</p>
  {% endif %}
{% endblock %}
